<div class="container">
  <div class="jumbotron, index-jumbotron">
    <div class="jumbotron-contents">
      <h1 class="text-center, text-in-jumbotron"> Items for Sale </h1>
      <% if current_user %>
        <%= button_to "Add Item", items_new_path, method: :get, class: "btn btn-success, btn-add-item" %>
      <% else %>
        <p> Log in to add an item </p>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <p class="text-center">
    <span> <%= "TAG: #" + @presenter.name %> </span>
  </p>
</div>

<div class="container">
  <% @presenter.items.each do |item| %>
    <div class="col-xs-12 col-md-4 col-lg-3">
      <div class="row, item-container">
        <div class="col-md-12, item-details-container">
          <div  class="items-index-image-container">  <%= image_tag(asset_path(item.image), size: "100") %> </div>
          <div class="title-price"> <strong> <%= item.name.capitalize %> </strong></div>
          <p> Starting Price: $<%= item.starting_bid_price %> </p>
          <p> Current Bid: $<%= item.highest_bid %> </p>
          <%= button_to "See Details", item_path( id: item.id ), method: :get, class: "btn btn-xs btn-buy-now" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
