<h1> Items for Sale </h1>
<a class="btn btn-success" href="/items/new" role="button">Add Item</a>
<ul>
  <% @presenter.items.each do |item| %>
    <li>
      <%= item.name %> : <%= item.price %> <%= image_tag(item.image, size: "100") %>
      <a class="btn btn-primary btn-sm" href="items/<%= item.id %>/purchases/new" role="button">Buy Now!</a>
      <br>
      <%= item.description %>
    </li>
  <% end %>
</ul>

